#number-projects-nd {
   font-size: 3.25vw;
}

#total-donations-nd {
   font-size: 3.25vw;
}


.dc-chart g.row text {
   fill: black;
   font-size: 12px;
}

#total-projects {
   background: #33CC99;
   width: 200px;
   position: relative;
   height: 60px;
   font-size: 29px;
   color: white;
   vertical-align: middle;
   text-align: center;
   padding-top: 12px;
   padding-bottom: 0px;
}

#net-donations {
   background: #33CC99;
   width: 200px;
   position: relative;
   height: 60px;
   font-size: 29px;
   color: white;
   vertical-align: middle;
   text-align: center;
   padding-top: 12px;
   padding-bottom: 0px;
}


.dc-select-menu {
   background: #33CC99;
   width: 100%;
   border: none;
   position: relative;
   height: 31px;
   font-size: 15px;
   color: white;
   vertical-align: middle;
   text-align: center;
   padding-top: 4px;
   padding-bottom: 0px;

}

.navbar-header {
    align-items: center;
}
.intro_button {
    margin: 10px;
    position: relative;
    float: right;
}
.navbar-header > button {
    margin: 10px;
}
body.application {
    background-image: url("/static/assets/yourstory-education.jpg");
    background-size: 100% auto;
}
.chart-wrapper .chart-stage {
    overflow: scroll;
    overflow-scrolling: auto;
}
.night{
    background: #000000;
}
.night .chart-title{
    color: #f8ff89;
}