<!DOCTYPE html>
<html>
<head>
   <title>School Donations Dashboard</title>
   <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/bootstrap.min.css')}}">
   <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/keen-dashboards.css')}}">
   <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/dc.css')}}">
   <link rel="stylesheet" href="{{ url_for ('static', filename='css/custom.css')}}">
   <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/introjs.css')}}">
</head>
<body class="application">
<div class="container">
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
   <div class="container-fluid">
       <div class="navbar-header">
            <button class="intro_button btn-info" type="button" autofocus onclick="introJs().start();">Start Tour!</button>
            <a class="navbar-brand" href="./">School Donations Dashboard</a>
       </div>
   </div>
</div>


<div  id="outer" class="container-fluid">
   <div class="row">

       <div class="col-sm-8">
           <div class="row">

               <!-- Time Chart -->
               <div class="col-sm-12">
                   <div class="chart-wrapper" data-step="1" data-intro="This Line Graph shows the the number of Donations on the Y axis and the Date on the X axis. You can zoom in on a time range by using the range selector below and move the range by dragging on the chart.  Once a selection is made the range is displayed above and can be Reset" style="font-weight: normal" data-position="right">
                       <div class="chart-title">
                           Number of Donations
                       </div>
                       <div class="chart-stage">
                           <div id="time-chart">
                               <span class="reset" style="display: none;">Time Range: <span class="filter"></span></span>
                               <a class="reset" href="javascript:timeRangeChart.filterAll();timeChart.filterAll();dc.redrawAll();resetofs()"
                               style="display: none">Reset</a>
                           </div>
                           <div id="time-range-chart"></div>
                       </div>
                   </div>
               </div>
               <!-- Time Chart -->

               <!-- Resources -->
               <div class="col-sm-6">
                   <div class="chart-wrapper" data-step="2" data-intro="This Graph Displays the type of Resource Donated. You can select a type or types by clicking on them.  Once a selection is made the selected types are displayed above and can be Reset if wanted." style="font-weight: normal" data-position="right">
                       <div class="chart-title">
                           Resources Type
                       </div>
                       <div class="chart-stage">
                           <div id="resource-type-row-chart">
                               <span class="reset" style="display: none;">Selected: <span class="filter"></span></span>
                               <a class="reset" href="javascript:resourceTypeChart.filterAll();dc.redrawAll();resetofs()"
                               style="display: none">Reset</a>
                           </div>
                       </div>
                   </div>
               </div>
               <!-- Resources -->


               <!-- funding Pie -->
               <div class="col-sm-6">
                   <div class="chart-wrapper" data-step="3" data-intro="This Pie Chart Displays the Funding Status, which can be selected by clicking on them.  Once a selection is mad the selections are displayed above the chart and can be Reset if desired" style="font-weight: normal" data-position="right">
                       <div class="chart-title">
                           Funding Status
                       </div>
                       <div class="chart-stage">
                           <div id="funding-chart">
                               <span class="reset" style="display: none;">Selected: <span class="filter"></span></span>
                               <a class="reset" href="javascript:fundingStatusChart.filterAll();dc.redrawAll();resetofs()"
                               style="display: none">Reset</a>
                           </div>
                       </div>
                   </div>
               </div>
               <!-- funding Pie -->

           </div>
       </div>

       <!-- Poverty -->
       <div class="col-sm-4">
           <div class="chart-wrapper" data-step="4" data-intro="This Chart Displays the Poverty Level of the School, which can be selected by clicking on them.  Once a selection is mad the selections are displayed above the chart and can be Reset if desired" style="font-weight: normal" data-position="left">
               <div class="chart-title">
                   Poverty Level
               </div>
               <div class="chart-stage">
                   <div id="poverty-level-row-chart">
                       <span class="reset" style="display: none;">Selected: <span class="filter"></span></span>
                       <a class="reset" href="javascript:povertyLevelChart.filterAll();dc.redrawAll();resetofs()"
                       style="display: none">Reset</a>
                   </div>
               </div>
           </div>
       </div>
       <!-- Poverty -->

       <!-- menu select -->
       <div class="col-sm-2">
           <div class="chart-wrapper" data-step="5" data-intro="You can Select a State Here!" style="font-weight: normal" data-position="top">
               <div class="chart-title">
                   Donation State
               </div>
               <div class="chart-stage">
                   <div id="menu-select"></div>
               </div>
           </div>
       </div>
       <!-- menu select -->

       <!-- menu select2 -->
       <div class="col-sm-2">
           <div class="chart-wrapper" data-step="6" data-intro="You can Select a County Here!" style="font-weight: normal" data-position="top">
               <div class="chart-title">
                   Donation County
               </div>
               <div class="chart-stage">
                   <div id="menu-select2"></div>
               </div>
           </div>
       </div>
       <!-- menu select2 -->

       <!-- Metric 1 -->
       <div class="col-sm-2">
           <div class="chart-wrapper" data-step="7" data-intro="This shows the total number of donations based on your current selections!" style="font-weight: normal" data-position="top">
               <div class="chart-title">
                   Total Number of Donations
               </div>
               <div class="chart-stage" style=" background: #33CC99;
                   position: relative;
                   font-size: 29px;
                   color: white;
                   vertical-align: middle;
                   text-align: center;
                   padding-top: 5px;
                   padding-bottom: 5px;">
                   <div id="number-projects-nd"></div>
               </div>
           </div>
       </div>
       <!-- Metric 1 -->

       <!-- Metric 2 -->
       <div class="col-sm-2">
           <div class="chart-wrapper" data-step="8" data-intro="This shows the total amount of donations in US $ Dollars based on your current selections!" style="font-weight: normal" data-position="top">
               <div class="chart-title">
                   Total Donations in USD
               </div>
               <div class="chart-stage">
                   <div id="total-donations-nd"></div>
               </div>
           </div>
       </div>
       <!-- Metric 2 -->

       <!-- Reset -->
       <div class="col-sm-4">
           <div class="chart-wrapper">
               <div class="chart-stage">
                   <button data-step="10" data-intro="You can always come back up here and Reset All Filters to Start Over!!" style="font-weight: normal" data-position="bottom" class="col-sm-12 btn-danger"  type="button" onclick="dc.filterAll();dc.redrawAll();resetofs()">Reset All Filters</button>
               </div>
           </div>
       </div><!--scatter Map-->
        <div class="col-sm-8">
            <div class="chart-wrapper">
                <div class="chart-title">
                    Scatter Map
                </div>
                <div class="chart-stage">
                    <div id="scatter"></div>
                </div>
            </div>
        </div>
        <!--scatter Map-->
       <!-- Reset -->
   </div>
    <div class="row">
       <!-- Table -->
       <div class="col-sm-12">
           <div class="chart-wrapper" data-step="9" data-intro="This Lists the details of donations based on your current selections!" style="font-weight: normal" data-position="top">
               <div class="chart-title">
                   Table of Donations
               </div>
               <div class="chart-stage">
                   <table id="dcdatatable" class="table table-hover dc-data-table">
                       <thead>
                           <th>Date</th>
                           <th>$ Amount Donated $</th>
                           <th>Resource Type</th>
                           <th>Poverty Level</th>
                           <th>State</th>
                           <th>County</th>
                       </thead>
                   </table>
                   <div id="paging">
                   <input id="first" class="btn" type="Button" value="|<<" onclick="javascript:resetofs()"/>
                   <input id="last" class="btn" type="Button" value="<<" onclick="javascript:last()"/>
                       Showing <span id="begin"></span>-<span id="end"></span> of <span id="mySize"></span>
                   <input id="next" class="btn" type="button" value=">>" onclick="javascript:next()"/>
                   <input id="end" class="btn" type="Button" value=">>|" onclick="javascript:lastpag()"/>

                   </div>
               </div>
           </div>
       </div>
       <!-- Table -->
   </div>

</div>
</div>
<hr>
<p class="small text-muted"> Data viz &#9829; from Code Institute</a></p>

</div>
<script src="{{ url_for ('static', filename='lib/js/jquery.min.js')}}"></script>
<script src="{{ url_for ('static', filename='lib/js/bootstrap.min.js')}}"></script>
<script src="{{ url_for ('static', filename='lib/js/crossfilter.js')}}"></script>
<script src="{{ url_for ('static', filename='lib/js/d3.js')}}"></script>
<script src="{{ url_for ('static', filename='lib/js/dc.js')}}"></script>
<script src="{{ url_for ('static', filename='lib/js/queue.js')}}"></script>
<script src="{{ url_for ('static', filename='lib/js/data-table.js') }}"></script>
<script src="{{ url_for ('static', filename='lib/js/keen.min.js')}}"></script>
<script src="{{ url_for ('static', filename='js/graph.js')}}"></script>
<script src="static/lib/js/intro.js" type="text/javascript"></script>
</body>
</html>